%h1 StaticPages#landing_page
%p Find me in app/views/static_pages/landing_page.html.haml

.fab.fa-amazon
= link_to root_path do
  .fa.fa-home

= link_to courses_path, class: 'btn btn-success' do
  .fa.fa-book
  Course

